<!DOCTYPE html>
<html lang="en">

<head>
  <title>Applications Managment</title>
</head>
<link rel="stylesheet" th:href="@{/CSS/all.css}">
<link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
<script th:src="@{/JS/Admin.js}" defer></script>

<body>
  <header>
    <div class="demo">

    </div>
    <nav>

      <img th:src="@{/Images/logo1.png}" class="logo1">

      <div class="box1">
        <h2>Admin Dashbord</h2>
      </div>

      <div class="topbtn">
        <a href="/"><button type="submit">Log out</button></a>
      </div>

    </nav>
  </header>

  <main>

    <section class="part1">

      <div class="p1nav">
        <p>Menu</p>
      </div>

      <div class="p1main">

        <img th:src="@{/Images/home.png}"><br>
        <img th:src="@{/Images/application.png}"><br>
        <img th:src="@{/Images/officer.png}"><br>
        <img th:src="@{/Images/work.png}"><br>


        <div class="imgname">

          <a href="/Admin_index">
            <p>Home</p>
          </a> <!-- Request To Controller.... -->
          <a href="#">
            <p class="colar">Application</p>
          </a>
          <a href="Employee.html">
            <p>Employee</p>
          </a>
          <a href="Project.html">
            <p>Work</p>
          </a>

        </div>

      </div>


      <div class="p1bottum">
        <p>buttoom</p>
      </div>


    </section>

    <section class="part2">

      <div class="pbox1">

        <button id="back_btn" class="deactive" onclick="back()"><i class="ri-arrow-go-back-line"></i></button>
        <button class="home_btn" id="home_btn" onclick="home()"><i class="ri-home-3-line"></i></button></a>

        <p class="hom" id="txt1">Applications</p>

        <img th:src="@{/Images/application.png}">

      </div>

      <div class="apptype" id="Application_type">

        <div class="demo">
          <div class="btn1" onclick="demo()">
            <img th:src="@{/Images/application1.png}" alt="">
            <p>Total Applications</p>
          </div>

          <div class="btn2" onclick="demo1()">
            <img th:src="@{/Images/accepted.png}">
            <p>Accepted Applicent</p>
          </div>
        </div>

      </div>

      <div class="applicatins deactive" id="total_Application">

        <div class="info">
          <p> <b>Accept Button:</b> It 'Send' official e-mail to the Applicant. that it will we selected for the job in
            your selected domain. </p>
          <p> <b>Reject Button :</b> It 'Delete' the Data of the Applicant. you will use it if the applicitient is not
            suitable for the position. </p>
        </div>

        <div class="tablecontainer">
          <table class="table">

            <!-- Accept Applicant Here ..... -->

            <tr>
              <th>Name</th>
              <th>Contact</th>
              <th>E-mail</th>
              <th>Tech.type</th>
              <th>Technology</th>
              <th>City</th>
              <th>State</th>
              <th>Action</th>
            </tr>

            <tr th:each="applicant:${all_applicant}">

              <span th:if="${applicant.status}=='applicant'"> <!-- For Condition..... -->

                <td th:text="${applicant.name}+' '+${applicant.surname}"></td>
                <td th:text="${applicant.mobile}"></td>
                <td th:text="${applicant.email}"></td>
                <td th:text="${applicant.tech_type}"></td>
                <td th:text="${applicant.technology}"></td>
                <td th:text="${applicant.city}"></td>
                <td th:text="${applicant.state}"></td>

                <td> <a th:href="@{/accpeted_application/{id} (id=${applicant.id})}"><button
                      type="submit">Accept</button></a>
                  <a th:href="@{/reject_application/{id} (id=${applicant.id})}"><button type="submit"
                      class="red">Reject</button></a>
                </td>

              </span>

            </tr>


          </table>
        </div>
      </div>

      <div class="accpeted_application deactive" id="Acpt_appli">

        <div class="info">
          <p> <b>Accept Button:</b> After clearing all the steps this button is activeted and after this 'Applicant'
            become
            'Employee' of company. </p>
          <p> <b>Reject Button :</b> It 'Delete' the Data of the Applicant. you will use it if the applicitient is not
            suitable for the position.</p>
        </div>

        <div class="tablecontainer">
          <table class="table tab">
            <tr>
              <th>Name</th>
              <th>E-mail</th>
              <th>Tech.type</th>
              <th>Technology</th>
              <th>Interview</th>
              <th>Status</th>
              <th>Action</th>


            </tr>
            <!-- Accepted Applicant Here ..... -->
            <tr th:each="applicant:${all_applicant}">
              
              <!-- <span
                th:if="${applicant.status == 'Application_Accepted' || applicant.status == 'Interview_Scheduled' 
                        || applicant.status == 'Interview_Cleared' || applicant.status == 'Not_Cleared'
                        || applicant.status == 'Offer_Latter_Sended'}"> -->

                <span th:if= "${applicant.status !='applicant'}">

                <td th:text="${applicant.name}+' '+${applicant.surname}"></td>
                <td th:text="${applicant.email}"></td>
                <td th:text="${applicant.tech_type}"></td>
                <td th:text="${applicant.technology}"></td>

                <section th:switch= "${applicant.status}">

 <!--******************************************************************************************************************************************************-->
                  <part1 th:case= "'Application_Accepted'"><!-- Call For Interview-->

                    <td>
                      <a th:href="@{ /Schedule_interview/{id} (id=${applicant.id})}"><button type="submit">Call </button> </a> 
                    </td>
  
                    <td> <!-- Offer Latter-->
                      Waiting....
                    </td>

                  </part1>

 <!--******************************************************************************************************************************************************-->

                  <part2 th:case= "'Interview_Scheduled'"><!--Interview Scheduled-->

                    <td>
                      <form th:action="@{/Interview_status/{id} (id=${applicant.id})}" method="POST">

                      <select name="status" >
                         <option value="Interview_Scheduled">Status</option> <!-- Dafault status -->
                        <option value="Interview_Cleared">Cleared</option>
                        <option value="Not_Cleared">Not Cleared</option>
                      </select>

                      <button>Save</button>

                    </form>
                    </td>
  
                    <td> <!-- Offer Latter-->
                      Waiting....
                    </td>
                    
                  </part2>

 <!--******************************************************************************************************************************************************-->

                  <part3 th:case= "'Interview_Cleared'"><!--Interview Cleared-->

                    <td><!-- Call For Interview-->
                      <b class="colour"><img th:src="@{/Images/BlueTick.png}" alt="Done"></b>
                    </td>
                    <td>
                      <a th:href="@{/Schedule_offer_Latter/{id} (id=${applicant.id})}"><button type="submit">Send offer
                          Latter</button></a>
                    </td>

                  </part3>

 <!--******************************************************************************************************************************************************-->

                  <part4 th:case= "'Offer_Latter_Sended'"><!--Offer Latter Sended-->
                    <td>
                      <b class="colour"><img th:src="@{/Images/BlueTick.png}" alt="Done"></b><!-- Call For Interview-->
                    </td>
                    <td>
                      <b class="colour"><img th:src="@{/Images/BlueTick.png}" alt="Done"></b><!-- Offer Latter Send-->
                    </td>
                  </part4>

 <!--******************************************************************************************************************************************************-->
                  <part5 th:case= "'Not_Cleared'"><!--Offer Latter Sended-->
                   <td>
                     <b class="colour">Not Cleared</b><!-- Call For Interview-->
                   </td>
                   <td>
                     <b class="colour">Not Eligible</b><!-- Offer Latter Send-->
                   </td>
                   </part5>
 <!--******************************************************************************************************************************************************-->
                </section> 

                <td>

                  <a th:href="@{/make-it-employee/{id} (id=${applicant.id})}"><button
                      th:if="${applicant.status}=='Offer_Latter_Sended'" type="submit">Accept</button></a>

                  <a th:href="@{/reject_application/{id} (id=${applicant.id})}"><button type="submit"
                      class="red">Reject</button></a>

                </td>

              </span>
            </tr>

         
    
          </table>
        </div>
      </div>
      <div class="pbox3">
        <p></p>
        <p>Last Login: 20/10/2004 .</p>
      </div>

    </section>


  </main>

</body>

</html>