<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Employee Profile</title>
  <link rel="stylesheet" th:href="@{/CSS/Person_Appli.css}">
</head>

<body>
    <header>
        <nav>
            <img th:src="@{/Images/logo1.png}" alt="Logo" class="logo1">
            <div class="box1">
                <a href="/Manage_Applications">Back</a>
            </div>
            <img th:src="@{/Images/logo2.png}" alt="Logo" class="logo2">
        </nav>
    </header>

    <section>
        <div class="profile-container">
            <div class="profile-header">
                <img th:src="@{/User_images/{url} (url=${applicant.photo})}" alt="Profile Photo">
                <h1 th:text="${applicant.name}+' '+${applicant.surname}"></h1>
                <p th:text="${applicant.status}"></p>
            </div>
            <div class="profile-details">
                <h2>Personal Information</h2>
                <p><strong>Email:</strong> <span th:text="${applicant.email}"></span></p>
                <p><strong>Phone:</strong> <span th:text="${applicant.mobile}"></span></p>
                <p><strong>Street:</strong> <span th:text="${applicant.landmark}"></span></p>
                <p><strong>City:</strong> <span th:text="${applicant.city}"></span> </p>
                <p><strong>State:</strong> <span th:text="${applicant.state}"></span></p>
                <p><strong>Pincode:</strong> <span th:text="${applicant.pincode}"></span></p>

                <div class="technologies">
                    <h2>Technology Expertise</h2>

                    <div class="technology-type">
                        <strong>Technology Type:</strong>
                        <div><span class="technology" th:text="${applicant.tech_type}"></span></div>
                    </div>

                    <div class="technology-type">
                        <strong>Technology:</strong>
                        <div><span class="technology" th:text="${applicant.technology}"></span></div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <button onclick="window.print()">Download</button>
</body>

</html>
